


    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.hercircle.in/hcm/Engage/D/EDC85C2A-6E76-4F78-8157-B8E8A470BF7E.JPG" width="100%" height="700px">
        </div>
        <div class="carousel-item">
          <img src="https://cdnb.artstation.com/p/assets/images/images/028/668/383/large/sylvester-prabhu-theyyamfire-0003.jpg?1595162192" width="100%" height="700px">
        </div>
        <div class="carousel-item">
          <img src="https://blogcafedissensus.files.wordpress.com/2017/09/image0031.jpg" width="100%" height="700px">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

 <main class="col-left">
        <section class="content pt-5 text-black">
            <hr style=" border-top: 3px solid black;">
            <h2 class="mb-5 tm-content-title">Exposure to the arts and culture is enormously valuable.</h2>
                <p class="mb-5"></p>If art is to nourish the roots of our culture, society must set the artist free to follow his vision wherever it takes him.
            <hr style=" border-top: 2px solid black;">
        </section>
    </main>
